
#gameAreaDiv {
    box-shadow: 5px 5px #000000;
    background-color: #808080;
    height: 75%;
    width: 75%;
    margin: auto;
    position: absolute;
    bottom: 5%;
    left:0;
    right:0;
}

#playPairsBtn {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    position: absolute;
    margin: auto;
    inset: 0;
    z-index: 1;
}
html{
    height:100%;    
}
#cardTable{
    width: 100%;
    height: 100%;
    border-spacing: 20px;
}
#cardTable td{
    margin: 20px;
    cursor: pointer;
    
}
#cardTable td{
    border:5px solid black;
    border-collapse: collapse;
}

.colourCard{
    width: 100%;
}
.eyesOrMouthCard{
   position: absolute;
   top: 0;
   left: 0;
   width:100%;
   height:100%;
}
.cardInGame{
    display: none;
}
.showCard{
    display: block;
}
.hide{
    display: none;
}
.showTable{
    display: table;
}
#winBanner{
    height: 100%;
    width: 100%;
    background-color: greenyellow;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
